<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>WE are social media</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/open-iconic-bootstrap.min.css}"
          href="../static/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/animate.css}" href="../static/css/animate.css">

    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}" href="../static/css/owl.theme.default.min.css">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}" href="../static/css/magnific-popup.css">

    <link rel="stylesheet" th:href="@{/css/aos.css}" href="../static/css/aos.css">

    <link rel="stylesheet" th:href="@{/css/ionicons.min.css}" href="../static/css/ionicons.min.css">

    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.css}" href="../static/css/bootstrap-datepicker.css">
    <link rel="stylesheet" th:href="@{/css/jquery.timepicker.css}" href="../static/css/jquery.timepicker.css">


    <link rel="stylesheet" th:href="@{/css/flaticon.css}" href="../static/css/flaticon.css">
    <link rel="stylesheet" th:href="@{/css/icomoon.css}" href="../static/css/icomoon.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .fa {
            font-size: 50px;
            cursor: pointer;
            user-select: none;
        }

        .fa:hover {
            color: darkblue;
        }
    </style>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container-fluid px-md-4	">
        <a class="navbar-brand" th:href="@{/}">WEare</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a th:href="@{/}" class="nav-link">Home</a></li>
<!--                <li class="nav-item"><a href="browsejobs.html" class="nav-link">Browse Jobs</a></li>-->
                <li class="nav-item"><a th:href="@{/posts}" class="nav-link">Latest Posts</a></li>
<!--                <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>-->
                <li class="nav-item"><a th:href="@{/about-us}" class="nav-link">About us</a></li>
                <li class="nav-item cta mr-md-1"><a th:href="@{/posts/auth/newPost}" class="nav-link"
                                                    sec:authorize="isAuthenticated()">New post</a></li>
<!--                <li class="nav-item cta cta-colored"><a href="job-post.html" class="nav-link">Want a Job</a></li>-->

            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->

<div class="hero-wrap hero-wrap-2" style="background-image: url('../static/images/bg_1.jpg');"
     data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-12 ftco-animate text-center mb-5">
                <p class="breadcrumbs mb-0"><span class="mr-3"><a th:href="@{/}">Home
					<i class="ion-ios-arrow-forward"></i></a></span> <span>Posts</span></p>
                <h1 class="mb-3 bread">Explore all posts</h1>
                <h5 class="breadcrumbs mb-0" th:if="${usersCount != null}"
                    th:text="'There are ' + ${usersCount} + ' users in the system'"></h5>
                <h5 class="breadcrumbs mb-0" th:if="${postsCount != null}"
                    th:text="'and ' + ${postsCount} + ' posts'"></h5>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-candidates ftco-candidates-2 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 pr-lg-4">
                <div class="row">
                    <p>
                        <i th:if="${error != null}" th:text="${error}" style="color: red"></i>
                    </p>
                    <div class="col-md-12" th:each="post : ${posts}">
                        <div class="team d-md-flex p-4 bg-white">
                            <!--                            <div class="img" style="background-image: url(images/person_1.jpg);"></div>-->
                            <!--                            <div class="img" style="background-image:-moz-image-rect(" th:src="@{'/posts/' + ${post.postId} + '/postImage'}" ")-->
                            <!--                            <div class="img" style="background-image: url(images/person_1.jpg);"></div>-->
                            <div class="img"><img th:class="img"
                                                  th:src="@{'/posts/' + ${post.postId} + '/postImage'}" th:width="200">
                            </div>
                            <!--                                                  th:href="@{'/posts/' + ${post.postId} + '/postImage'}"></div>-->

                            <div class="text pl-md-4">
<!--                                <span class="location mb-0">User rating: x.x</span>-->
                                <h2><span th:text="${post.user.username}">username</span></h2>
                                <p class="mb-2" th:text="${post.getCategory().getName()}">category</p>
                                <span class="position" th:text="'Public post: ' + ${post.public}">public</span>
                                <h5><span>Topic:</span></h5>
                                <p class="mb-2" th:text="${post.content}">content</p>
                                <span class="seen" th:text="${post.date}"></span>
                                <p><a th:href="@{'/posts/' + ${post.postId}}" class="btn btn-primary">Explore this
                                    post</a>
                                    <a th:href="@{'/auth/users/' + ${post.user.getUserId()} + '/profile'}"
                                       class="btn btn-primary">See profile</a></p>
                                <span class="position" th:id="like-count + ${post.getPostId()}"
                                      th:text="'Likes: ' + ${post.likes.size()}"></span>
                                <span class="position" th:text="'Comments: ' + ${post.comments.size()}"></span>
                                <span class="position" th:id="rank-val + ${post.getPostId()}"
                                      th:text="'Rank: ' + ${post.getRank()}"></span><br>
                                <!--                                <span class="position" sec:authorize="isAuthenticated()"-->
                                <!--                                      th:if="${post.isLiked(UserPrincipal.getUsername()) == true}">You already liked</span><br>-->
                                <form th:class="like-form" th:id="${post.getPostId()}" th:object="${postDTO2}"
                                      method="post"
                                      sec:authorize="isAuthenticated()" enctype="multipart/form-data">
                                    <div>
                                        <input name="postId" type="hidden" data-th-value="${post.getPostId()}"
                                               th:value="${post.getPostId()}" class="mb-2" th:field="*{postId}"/>
                                    </div>
                                    <input class="fa-heart" type="submit" th:id="submit-val + ${post.getPostId()}"
                                           th:value="${post.isLiked2(UserPrincipal.getUsername()) ? 'Dislike':'Like'}"/>

                                </form>
                            </div>
                        </div>
                    </div>

                    <!--            *******************previous-page*****************************-->
                    <form th:class="previous-page" th:id="previous-page" th:object="${page}"
                          method="get">
                        <div>
                            <input name="index" type="hidden" data-th-value="${page.getIndex()-1}"
                                   th:value="${page.getIndex()-1}" class="mb-2" th:field="*{index}"/>

                            <input name="index" type="hidden"
                                   data-th-value="${page.getSearchParam1()}" th:value="${page.getSearchParam1()}"
                                   class="mb-2" th:field="*{searchParam1}"/>

                            <input name="index" type="hidden"
                                   data-th-value="${page.getSearchParam2()}" th:value="${page.getSearchParam2()}"
                                   class="mb-2" th:field="*{searchParam2}"/>
                        </div>
                        <input class="fa-heart" type="submit" th:id="previous-page"
                               th:if="${hasPrevious == true}"
                               value="Previous page"/>
                    </form>

                    <!--            *******************next-page*****************************-->
                    <form th:class="next-page" th:id="next-page" th:object="${page}"
                          method="get">
                        <div>
                            <input name="index" type="hidden" data-th-value="${page.getIndex()+1}"
                                   th:value="${page.getIndex()+1}" class="mb-2" th:field="*{index}"/>

                            <input name="index" type="hidden"
                                   data-th-value="${page.getSearchParam1()}" th:value="${page.getSearchParam1()}"
                                   class="mb-2" th:field="*{searchParam1}"/>

                            <input name="index" type="hidden"
                                   data-th-value="${page.getSearchParam2()}" th:value="${page.getSearchParam2()}"
                                   class="mb-2" th:field="*{searchParam2}"/>
<!--                                   th:if="${page.searchParam2 == null && category.getName() != null}"-->

                        </div>
                        <input class="fa-heart" type="submit" th:id="next-page"
                               th:if="${hasNext == true}"
                               value="Next page"/>
                    </form>


                </div>


<!--                <div class="row mt-5">-->
<!--                    <div class="pagination">-->
<!--                        <div class="block-27">-->
<!--                            <ul>-->
<!--                                <li><a href="#">&lt;</a></li>-->
<!--                                <li class="active" th:href="@{/posts}"><span>1</span></li>-->
<!--                                <li><a th:href="@{/posts}">2</a></li>-->
<!--                                <li><a th:href="@{/posts}">3</a></li>-->
<!--                                <li><a th:href="@{/posts}">4</a></li>-->
<!--                                <li><a th:href="@{/posts}">5</a></li>-->
<!--                                <li><a href="#">&gt;</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
            <!--            *******************FILTER*****************************-->
            <div class="col-lg-4 sidebar">

                <div class="sidebar-box bg-white p-4 ftco-animate" sec:authorize="isAuthenticated()">
                    <h3 class="heading-sidebar">Browse public posts</h3>
                    <form action="#" class="browse-form" th:object="${page}" sec:authorize="isAuthenticated()"
                          method="get">
                        <div class="form-group">
                            <br/>
                            <label for="StringListId"></label>
                            <select id="StringListId" th:field="*{searchParam1}">
                                <!--                                <option value="all" selected="selected">All posts</option>-->
                                <option value="true" selected="selected">All public posts</option>
                                <!--                                <option value="false">Private posts</option>-->
                            </select>
                        </div>
                        <input type="submit" value="Browse" class="btn py-3 px-4 btn-primary">
                    </form>
                </div>


                <!--            *******************FILTER*****************************-->
                <div class="sidebar-box bg-white p-4 ftco-animate">
                    <h3 class="heading-sidebar">Explore category</h3>
                    <form action="#" class="browse-form" th:object="${page}" method="get">
                        <div class="form-group">
                            <br/>
                            <label for="StringListId"></label>
                            <select th:field="*{searchParam2}">
                                <option th:each="category : ${allCategories}"
                                        th:value="${category.getName()}"
                                        th:text="${category.getName()}">Category
                                </option>
                            </select>
                        </div>
                        <input type="submit" value="Browse" class="btn py-3 px-4 btn-primary">
                    </form>
                </div>

            </div>


        </div>
    </div>
</section>

<!--<section class="ftco-section-parallax">-->
<!--    <div class="parallax-img d-flex align-items-center">-->
<!--        <div class="container">-->
<!--            <div class="row d-flex justify-content-center">-->
<!--                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">-->
<!--                    <h2>Subcribe to our Newsletter</h2>-->
<!--                    <p>Far far away, behind the word mountains, far from the countries-->
<!--                        Vokalia and Consonantia, there live the blind texts. Separated they live in</p>-->
<!--                    <div class="row d-flex justify-content-center mt-4 mb-4">-->
<!--                        <div class="col-md-12">-->
<!--                            <form action="#" class="subscribe-form">-->
<!--                                <div class="form-group d-flex">-->
<!--                                    <input type="text" class="form-control" placeholder="Enter email address">-->
<!--                                    <input type="submit" value="Subscribe" class="submit px-3">-->
<!--                                </div>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--<footer class="ftco-footer ftco-bg-dark ftco-section">-->
<!--    <div class="container">-->
<!--        <div class="row mb-5">-->
<!--            <div class="col-md">-->
<!--                <div class="ftco-footer-widget mb-4">-->
<!--                    <h2 class="ftco-heading-2">Skillhunt Jobboard</h2>-->
<!--                    <p>Far far away, behind the word mountains, far from the countries-->
<!--                        Vokalia and Consonantia, there live the blind texts.</p>-->
<!--                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">-->
<!--                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>-->
<!--                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>-->
<!--                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md">-->
<!--                <div class="ftco-footer-widget mb-4">-->
<!--                    <h2 class="ftco-heading-2">Employers</h2>-->
<!--                    <ul class="list-unstyled">-->
<!--                        <li><a href="#" class="pb-1 d-block">Browse Candidates</a></li>-->
<!--                        <li><a href="#" class="pb-1 d-block">Post a Job</a></li>-->
<!--                        <li><a href="#" class="pb-1 d-block">Employer Listing</a></li>-->
<!--                        <li><a href="#" class="pb-1 d-block">Resume Page</a></li>-->
<!--                        <li><a href="#" class="pb-1 d-block">Dashboard</a></li>-->
<!--                        <li><a href="#" class="pb-1 d-block">Job Packages</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md">-->
<!--                <div class="ftco-footer-widget mb-4 ml-md-4">-->
<!--                    <h2 class="ftco-heading-2">Candidate</h2>-->
<!--                    <ul class="list-unstyled">-->
<!--                        <li><a href="#" class="pb-1 d-block">Browse Jobs</a></li>-->
<!--                        <li><a href="#" class="pb-1 d-block">Submit Resume</a></li>-->
<!--                        <li><a href="#" class="pb-1 d-block">Dashboard</a></li>-->
<!--                        <li><a href="#" class="pb-1 d-block">Browse Categories</a></li>-->
<!--                        <li><a href="#" class="pb-1 d-block">My Bookmarks</a></li>-->
<!--                        <li><a href="#" class="pb-1 d-block">Candidate Listing</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md">-->
<!--                <div class="ftco-footer-widget mb-4 ml-md-4">-->
<!--                    <h2 class="ftco-heading-2">Account</h2>-->
<!--                    <ul class="list-unstyled">-->
<!--                        <li><a href="#" class="pb-1 d-block">My Account</a></li>-->
<!--                        <li><a href="#" class="pb-1 d-block">Sign In</a></li>-->
<!--                        <li><a href="#" class="pb-1 d-block">Create Account</a></li>-->
<!--                        <li><a href="#" class="pb-1 d-block">Checkout</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md">-->
<!--                <div class="ftco-footer-widget mb-4">-->
<!--                    <h2 class="ftco-heading-2">Have a Questions?</h2>-->
<!--                    <div class="block-23 mb-3">-->
<!--                        <ul>-->
<!--                            <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span>-->
<!--                            </li>-->
<!--                            <li><a href="#"><span class="icon icon-phone"></span><span-->
<!--                                    class="text">+2 392 3929 210</span></a></li>-->
<!--                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-md-12 text-center">-->

<!--                <p>&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--                    Copyright &copy;<script>document.write(new Date().getFullYear());-->
<!--                    </script>-->
<!--                    All rights reserved | This template is made with-->
<!--                    <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com"-->
<!--                                                                                    target="_blank">Colorlib</a>-->
<!--                    &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->


<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>

<section th:insert="fragments/sing-up :: sing-up"></section>

<div th:insert="fragments/footer :: footer"></div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/jquery.animateNumber.min.js"></script>
<script src="/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="/js/google-map.js"></script>
<script src="/js/main.js"></script>

<script>
    $(".like-form").submit(function (event) {
        console.log("this is a like log:)") //check
        console.log(event) //check
        event.preventDefault()
        let data = $(this).serialize();
        // debugger;
        console.log("data: " + data) //check
        console.log("this: " + $(this)) //check
        $.ajax({
            type: "POST",
            url: "/api/post/auth/likesUp",
            data: data,
            success: function (d) {
                console.log("success")
                console.log(d) //check
                console.log(d.likes.length) //check
                $("#like-count" + d.postId).text("Likes: " + d.likes.length)
                $("#rank-val" + d.postId).text("Rank: " + d.rank)
                if (d.liked === true)
                    $("#submit-val" + d.postId).val("Dislike")
                else
                    $("#submit-val" + d.postId).val("Like")
                console.log(d.liked) //check
            }
        })
    })
</script>

<script>
    function myFunction(x) {
        x.classList.toggle("fa-thumbs-down");
    }
</script>


</body>
</html>